<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhBnbjIk9AIJgvOu3q47iri5RsIv1EQAE</string>
	<key>GCM_SENDER_ID</key>
	<string>422033426571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anders.fetch</string>
	<key>PROJECT_ID</key>
	<string>fetch-by-dersy</string>
	<key>STORAGE_BUCKET</key>
	<string>fetch-by-dersy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422033426571:ios:b769c163c9b8eeb847ec8e</string>
</dict>
</plist>